.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depoimento1{
  
   height: 16vh;
   width: 122vh;
   background: white;
   border-radius: 4vh 0 0 0 ;
   opacity: 70%;
   text-align: center;
   font-size: 3vh;
   margin: auto;
   
   
}

.depoimento2{
  
    height: 16vh;
    width: 122vh;
    background: white;
    border-radius: 0 4vh 0 0 ;
    opacity: 70%;
    text-align: center;
    font-size: 3vh;
    
 }

 .depoimento3{
  
    height: 16vh;
    width: 122vh;
    background: white;
    border-radius: 4vh 0 0 0 ;
    opacity: 70%;
    text-align: center;
    font-size: 3vh;
    
 }

 .img1 {
     background-image: url('https://pbs.twimg.com/profile_images/1458567677916717063/ryADKDOK_400x400.jpg');
     width: 20%;
 }



