footer{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
   }

   .rodape{
       top:0;
       bottom:0;
       text-align: center;
       left: 40%;
       position:sticky;
       align-content: center;
       justify-content: center;
       text-align: center;

   }

  