
footer{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    bottom: 0;
    justify-content: center;
    left:0;   
    margin: auto auto;
}
.rodape{
color: aqua;
top:0;
bottom:0;
left: 40%;
justify-content: center;
text-align: center;
}
.textofooter{
padding:1%;   
}
