.geral {
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
}

.cadastroEntrar {
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    backdrop-filter: blur(8px);
    width: 40vw;
    height: 12vh;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: -10px 15px 50px #000;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
}

.cadastroEnt {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}

#cadastre {
    border: #0000ff 2px solid;
}

.form, .login {
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    backdrop-filter: blur(8px);
    width: 40vw;    
    max-height: 100vh;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: -10px 15px 50px #000;
    backdrop-filter: blur(8px);
    margin-bottom: 0%;
    padding-bottom: 0;
}

.login {
    display: none;
}

.divLogin {
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh;
}

.input {
    width: 86%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5em;

}

#divSenha, #divEndereco, #divCidadeEstado {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#divSenha div, #divEndereco div, #divCidadeEstado div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

}

#divCep {
    display: flex;
    flex-direction: row;
    width: 88%;
    justify-content: space-between;
}

.btn-form {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    width: 100%;
    margin-left: 35%;
    height: 50%;
    bottom: 90%;
    padding: 10px;
}

.btn-form p {
    padding: 10px;
    color: #0000ff;
}

.buttonForm {
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    height: 30px;
    background-color: transparent;
    color: aqua
}

input {
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    margin-left: 8px;
    color: black;
    font-weight: 200;
    text-align: center;
    background-color: aquamarine;

}

.inputLogin {
    width: 80%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 8px;
    color: aqua;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    backdrop-filter: blur(8px);
}

select {
    width: 30%;
    border-radius: 5px;
    margin-left: 8px;
    color: blue;
    text-align: center;
}

.label {
    font-size: 15px;
    margin-bottom: 00.2em;
    color: white;
    font-weight: bolder;
    margin-left: 8px;
}


#inputCEP, #inputBairro, #inputCidade, #inputSenha, #inputConfirma, #inputPais, #input_RG, #inputComp, #inputNum, #inputUf {
    width: 60%;
    background-color: aquamarine;
}
.container-recuperacao{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}
.btn-recuperar{
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    height: 30px;
    background-color: transparent;
    color: aqua
}
.recuperacaoSenha{
    color: white;
    font-weight: bold;
}
#codigoRecupera{
    display: none;
}
#input_validacao, #input_validacao_form {
    display: none;
    flex-wrap: wrap;
    font-size: 15px;
    border: green 4px solid;
}
#inputEmail{
    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#sticky-footer{
    margin-top: 200px;
}
@media (max-width: 500px) {
    .cadastroEntrar {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .cadastroEnt {
        width: 100%;
        height: 50%;
        font-size: 16px;
    }

    .form, .login {
        width: 80vw;
    }

    .btn-form {
        width: 100%;
        margin-left: 0%;
    }

    .button {
        width: 80%;
    }
}