*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.funcionamento_servico p{
    display: flex;
    justify-content: center;
    width: 90%;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    margin: auto;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 10vh;
}
.imgProdutos{
    width: 100%;
    height: 10vh;
}
.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 360px;
    background-color: rgba(255,255,255,0.1);
    z-index: 1;
    border-radius: 20px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    backdrop-filter: blur(8px);
    box-shadow: -10px 15px 50px #000;
}
.card h1{
    color: black;
    text-shadow: 2px 2px 5px #fff;
    background-image: url("../img/olhoProdutos.png");
    width: 100%;
    height: 8vh;
    background-size: cover;
    text-align: center;
    padding-top: 5px;

}
.card p{
    color: #ddd;
    padding: 20px;
    padding-top: 90px;

}