@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html{
  background-image: url("https://i0.wp.com/windowscustomization.com/wp-content/uploads/2018/09/plexus1.gif?fit=750%2C365&quality=80&strip=all&ssl=1");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: black;
  
}

h1{
  color:white;
  text-align: center;
  margin-top: 60vh;
}

/*menu*/

nav {
  position: sticky;
  top:auto;
  mask-image: linear-gradient(90deg, rgba(99, 96, 96, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
   flex-wrap: wrap;   
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(223, 226, 233, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color:aqua;
  }
  
  

  
