@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html{
  background-image: url("https://cdn.dribbble.com/users/760915/screenshots/2321861/media/daecb43fa714b20ebb5bcc7a8b82473d.gif");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: black;
    padding:0%

}

h1{
  color:white;
  text-align: center;
  margin-top: 60vh;
}

/*menu*/

nav {
  top:auto;
  mask-image: linear-gradient(90deg, rgba(99, 96, 96, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
      
  }
  
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(223, 226, 233, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: #0000ff;
  }
  
  /*particulas*/

  
